﻿body {
    background-color:#B22222;
}

.conteudo {
    background-color: white;
    box-sizing: border-box;
    width: 300px;
    min-height: 350px;
    margin: 60px auto 0;
    box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.logoM {
    font-size: 50px;
    font-family: Arial;
    color: #FF4040;
    text-shadow: 3px 3px 10px #FF4040;
}

.logoC {
    font-size: 50px;
    font-family: 'Times New Roman';
    color: #CD3333;
}

input {
    margin: 25px 25px;
    width: 200px;
    display: block;
    border: none;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
    border-bottom: solid 1px #CD3333;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #CD3333 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #CD3333 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #CD3333;
}

    input:focus, input:valid {
        box-shadow: none;
        color: #8B2323;
        outline: none;
        background-position: 0 0;
    }

        input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
            color: transparent;
            font-size: 16px;
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
            visibility: visible !important;
        }

.effects {
    margin-top: 0.20em;
}

p, [class^="hvr-"] {
    font-family: 'Roboto', sans-serif;
}

[class^="hvr-"] {
    color: #666;
    padding-top: 0.60em;
    padding-bottom: 0.60em;
    padding-left: 5em;
    padding-right: 5em;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 2em;
    cursor: pointer;
    border-radius: 6px;
    background-image: none;
    background -attachment: scroll;
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

    .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
        box-shadow: 0 0 8px #FF4040;
    }
