﻿body {
    background-color: #FFFFFF;
}

body,
.menu,
.sub-menu {
    margin: 0;
    margin-bottom:20px;
    padding: 0;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 20px;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.menu,
.sub-menu {
    list-style: none;   
    background: #21314B;
}

.sub-menu {
    background: #21314B;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #FFFFFF;
    

    font-family: sans-serif;
    font-size: 14px;
    
    font-weight: 700;
}

.menu li {
    position: relative;
}

.menu > li {
    float: left;
}

    .menu > li:hover {
        background: #831A1A;
    }

.menu li:hover > .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: fixed;
    min-width: 100px;

}

    .sub-menu li:hover {
        background: #831A1A;
    }

    .sub-menu .sub-menu {
        top: 0;
        left: 50%;
    }

.conteudo {
    background-color: white;
    box-sizing: border-box;
    width: 300px;
    min-height: 350px;
    margin: 100px auto 0;
    box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

.rodape{
    position:fixed;
    bottom:0;
    width:100%;
    height:30px;
    background-color:#21314B;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:18px;
    padding:10px;
    color:white;
}



img{
    width: 250px;
    height: 300px;
}

fieldset{
    font-family:Arial;
    margin-top:0;
    width:600px;
    border:black;
    background:white;
    border-radius:0px;
}

.consulta{
    float: left;
    font-family:Arial;
    width:400px;
    border:black;
    background:white;
    border-radius:5px;
}

legend {
    position:absolute;
    margin-left:200px;
    margin-top:-20px;
    color: white;
    Background: #21314B;
    font-family:Arial;

}

table td{
    padding:15px;
    margin-left:5px;

}
.tb{

    border-radius:0;
    height:25px;
    background:white;

}
.Salvar{

    height:25px;
    width:100px;
    border: 2px solid #095106;
    border-radius:0;
    color: white;
    background: #095106;
    
    margin-top:200px;
    cursor: pointer;

}
.Limpar{

    height:25px;
    width:100px;
    margin-left:100%;
    margin-top:200px;
    border: 2px solid #0C295A;
    border-radius:0px;
    color: white;
    background: #0C295A;
    cursor: pointer;



}

.SalvarCategoria {
    height:25px;
    width:100px;
    margin-right:40px;
    border: 2px solid #095106;
    border-radius:0;
    color: white;
    background: #095106;
    cursor: pointer;

}

.SalvarExibicao {
    height:25px;
    width:100px;
    margin-right:30px;
    border: 2px solid #095106;
    border-radius:0;
    color: white;
    background: #095106;
    cursor: pointer;

}

.exibicao {
    float: left;
    font-family: Arial;
    width: 100px;
    margin-bottom: 50px;
    border: #020202;
    color:#FFFFFF;
    margin-left:100px;
    background: #831A1A;
    border-radius: 0px;
}

